<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="container__left">
      <div class="small-card__photo">
        <img src="{{photoCover}}" alt="" height="200px">
      </div>
    </div>

    <div class="container__right">
      <div class="small-card__date">
        {{cardDate}}
      </div>

      <div class="small-card__title">
        {{cardTitle}}
      </div>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>